<% include layout/header.ejs %>
<a href="/create">Add</a>
<% posts.forEach(post => { %>
<li>
    <b><%= post.title %></b>
    <br>
    <%= post.body %>
    <br>
    <br>
</li>
<% }); %>
<% include layout/footer.ejs %>