<footer class="footer">
    <div class="container">
        footer
    </div>
</footer>
<script src="<%= assetFingerprint('/javascript/scripts.js') %>"></script>
<script src="/javascripts/jquery.js"></script>
</body>
</html>